.aboutUsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
  background-color: #259f6f;
}

.aboutUsRight {
  width: 50%;
  padding:2rem 2rem 0 0;
}
.aboutUsLeft{
  padding:2rem;
}
.aboutUsLeft h1,
.aboutUsLeft p {
  color: white;
}

.aboutUsImageContainer {
  width: auto;
  border-radius: 500px 500px 0 0;
  overflow: hidden;
}

.aboutUsImage {
  width: 100%;
}

.locationInput {
  width: 70%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 2rem;
}

@media screen and (max-width: 968px) {
  .aboutUsSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aboutUsRight {
    width: 100%;
  }
  .locationInput {
    width: 100%;
  }
}
