.container{
  width:100%;
  background-color:#fdf2e9;
}
.aboutUsSection {
  display: flex;
  justify-content: space-between;
  padding:3rem 0;
  padding-bottom:8rem;
  background-color:#fdf2e9;
  gap:6rem;
  max-width:87.25rem;
  margin:0 auto;
}


.primaryHeader{
  font-size: 2.75rem;
  font-weight: 700;
  text-align:start;
  line-height:1.05;
  margin:0;
  color:#333;
  margin-bottom:2rem;
  letter-spacing:-0.5px;
}
.description{
  font-size: 1.25rem;
  line-height: 1.6;
  margin:0;
  font-weight:300;
  margin-bottom: 3rem;
}
.aboutUsRight {
  width: 45%;
  padding: 2rem 0 0 2rem;
}
.aboutUsLeft {
  padding: 2rem;
  width:55%;
  justify-content:center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.aboutUsBtn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #e67e22;
  border: none;
  transition: all 0.3s;
  cursor:pointer;
}

.aboutUsBtn:hover {
  background-color: #f07b14;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.aboutUsLeft h1,
.aboutUsLeft p {
  color: black;
}


.aboutUsImageContainer {
  width: auto;
  self-align:center;
}

.aboutUsImage1 {
  border-radius:9px;
  width: 90%;
  height: 90%;
  filter: brightness(80%)
}

.locationInput {
  width: 70%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 2rem;
}

@media screen and (max-width: 968px) {
  .aboutUsSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .aboutUsRight {
    width: 100%;
    padding: 0;
  }
  .locationInput {
    width: 100%;
  }
  .aboutUsImage1{
    width:70%;
    height:50;
  }
  .aboutUsImageContainer{
    display:flex;
    align-items:center;
    justify-content:center;
  }
}
