/* src/components/LoginRegisterModal/LoginRegisterModal.module.css */

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 1.25rem;
  border-radius: 8px;
  width: 28rem;
  max-width: 90%;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.tabButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabButton {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.tabButton.active {
  border-bottom: 2px solid #dc7e3f;
  font-weight: bold;
  color: #333;
}

.roleButtons {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}

.roleButton {
  background: none;
  width: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.roleButton.active {
  background-color: #ed682a;
  color: white;
}

.roleButton:not(.active):hover {
  background-color: #f5f5f5;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup .rolesButtons{
  background-color: #ed682a;
  padding: 10rem;

}

.submitButton {
  width: 100%;
  padding: 10px;
  background: #ed682a;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background: #ee540c;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkboxGroup input {
  margin-right: 8px;
}

.radioButton{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}