.container {
  border-radius: 1rem;
  min-width: 16rem;
  width: 18%;
  background-size: contain;
  padding: 2rem 2rem 1.4rem 2rem;
  height: 16rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom:1rem;
}

.image {
  display: inline-block;
  width: 100%;
  height:100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition effect */
  cursor: pointer;
  border-radius:9px;
}

/* Hover effect: Zoom and shadow */
.image:hover {
  transform: scale(1); /* Slight zoom effect */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.whiteBorder {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 0.5rem solid white;
}

.name {
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

h5{
  font-size: 1.3rem;
  font-weight: 500;
}