.container {
  background-color: white;
  padding: 10px;
  max-width:87.25rem;
  margin:0 auto;
}
.dishContainer {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  max-width:87.25rem;
  margin:0 auto;
}

h2{
  text-align: center;
  font-size: 2.7rem;
  font-weight: 500;
}