.howItWorks {
  text-align: center;
  padding: 2rem;
}
.arrowright {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  transform: translate(-50%, 0);
}
.arrowleft {
  transform: scaleX(-1);
  transform: scaleY(-1);
  position: relative;
  top: 43%;
  left: 0;
  transform: translate(-50, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 4rem;
}

.step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.lastStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepIcon {
  position: relative;
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.stepIcon:hover {
  border-color: #fb8530e6; /* Orange color outline on hover */
  transition: 0.3s;
}

.iconImage {
  width: 50%; /* Adjust size as needed */
  height: 50%; /* Adjust size as needed */
}

.stepNumber {
  position: absolute;
  bottom: -15px;
  background-color: #f97316;
  color: white;
  border-radius: 50%;
  width: 1.3rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.steps::before {
  background-image: url;
}

.step h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #333;
}
