.howItWorks {
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.arrowright {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  transform: translate(-50%, 0);
}
.arrowleft {
  transform: scaleX(-1);
  transform: scaleY(-1);
  position: relative;
  top: 43%;
  left: 0;
  transform: translate(-50, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.steps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 4rem;
}

.step {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.lastStep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepIcon {
  position: relative;
  width: 150px;
  height: 150px;
  border: 2px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.stepIcon:hover {
  border-color: #fb8530e6;
  transition: 0.3s;
}

.iconImage {
  width: 50%;
  height: 50%;
}

.stepNumber {
  position: absolute;
  bottom: -15px;
  background-color: #f97316;
  color: white;
  border-radius: 50%;
  width: 1.3rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.steps::before {
  background-image: url;
}

.step h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #333;
}
@media (max-width: 1330px) {
  .step {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 963px) {
  .howItWorks {
    padding: 0;
  }
  .stepIcon {
    width: 100px;
    height: 100px;
  }
  .stepNumber {
    width: 1rem;
    font-size: 0.6rem;
    padding: 0.5rem;
  }
  .connector {
    display: none;
  }
}
@media (max-width: 686px) {
  .steps {
    padding: 2rem;
  }
  .howItWorks {
    padding: 0;
  }
  .stepIcon {
    width: 80px;
    height: 80px;
  }
  .stepNumber {
    width: 0.5rem;
    font-size: 0.4rem;
    padding: 0.4rem;
  }
  .step h3 {
    margin-top: 1.5rem;
    font-size: 0.7rem;
    color: #333;
  }
  .lastStep h3 {
    margin-top: 1.5rem;
    font-size: 0.7rem;
    color: #333;
  }
}
@media (max-width: 493px) {
  .steps {
    padding: 0;
  }
}
@media (max-width: 427px) {
  .stepIcon {
    width: 55px;
    height: 55px;
  }
  .step h3 {
    margin-top: 1.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: #333;
  }
  .lastStep h3 {
    margin-top: 1.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: #333;
  }
}
