.stepperContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:1rem ;
    margin-bottom: 1rem;
    width:100%;
  }
  
  .step {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .stepCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
  }
  
  .checkmark {
    font-size: 18px;
  }
  
  .stepLabel {
    text-align: center;
    margin-top: 8px;
  }
  
  .stepConnector {
    height: 2px;
    width: 100%;
    background-color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
  }
  
  .completed .stepCircle {
    background-color: #ff6f00;
    color: white;
  }
  
  .completed .stepConnector {
    background-color: #ffdac2;
  }
  
  @media (max-width: 600px) {
    .stepperContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .stepConnector {
      display: none;
    }
  }
  