.addtocartcontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.accordionContainer {
  width: 40%;
}

.addtocart {
  display: flex;
  padding: 1rem;
}

.previewOrderButton {
  text-align: right;
  padding: 1rem;
}

.previewOrderButton button {
  padding: 1rem 2rem;
  background-color: #e67e22;
  color: #fff;
  border: none;
  border-radius:4px;
  cursor: pointer;
  font-size:1.125rem;
}

@media screen and (max-width: 768px) {
  .addtocart {
    flex-direction: column;
  }
  .accordionContainer {
    width: 100%;
  }
  .sidebar {
    width: 100%;
  }
}
