.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: none;
  padding: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.logoImg {
  height: 40px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}
