.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0.2rem;
}

.footerContent {
  display: flex;
  flex-direction: column;
}

.footerContent p {
  font-size: 0.9rem;
  color: #333;
}

.footerIcons {
  display: flex;
  gap: 1rem;
}

.footerIcons a {
  color: #6c757d;
  font-size: 1rem;
  text-decoration: none;
}

.footerIcons a:hover {
  color: #495057;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footerIcons {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footerContent p {
    font-size: 0.8rem;
  }

  .footerIcons a {
    font-size: 0.9rem;
  }

  .footer {
    padding: 0.5rem;
  }
}
